@using CoreCV_Project.EntityLayer.Concrete
@model Experience
@{
    ViewData["Title"] = "AddExperience";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card-header border-0">
    <h3 class="mb-0">Deneyim EKleme Alanı</h3>
</div>
<br />
<form asp-action="AddExperience" asp-controller="Experience" method="post" class="form-group">
    <label asp-for="Name">Şirket Adı</label> 
    <input asp-for="Name" class="form-control"/> <br />
    <label asp-for="Date">Çalışma Süresi</label> 
    <input asp-for="Date" class="form-control"/> <br />
    <label asp-for="ImageUrl">Resim (Dosya Yolu)</label>
    <input asp-for="ImageUrl"  class="form-control"/>
    <label asp-for="Description">Alınan Görevler</label>
    <input asp-for="Description"  class="form-control"/> <br />
    <button type="submit" class="btn btn-success">Ekle</button>
</form>

